.container {
    background-color:rgb(199, 71, 71);
    color:rgb(0, 0, 0);
    font-size:25px;
    font-weight:550px;
    text-align:center;
    padding:1.5rem;
    font-family: "Segoe UI", sans-serif;

}

.container2 {
    background-color:#ddb27a;
    font-size:22px;
    font-weight:550;
    font-family: "Segoe UI", sans-serif;
    padding:1.5rem;
    
}