.container {
    background-color:#2AB7CA;
    font-family:"Segoe UI", sans-serif;
    text-align:center;
    font-size:25px;
    font-weight:550px;
    padding:1.5rem;
    color:rgb(0, 0, 0);
    animation: fadeIn 0.9s ease-in-out;
}
.container2 {
    background-color:#f4e285;
    font-size:22px;
    font-weight:550;
    font-family: "Segoe UI", sans-serif;
    padding:1.5rem; 
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #f4e285;
    color: rgb(76, 67, 67);
    font-family: "Poppins", sans-serif;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}