.container {
    background-color:#2AB7CA;
    font-family:"Segoe UI", sans-serif;
    text-align:center;
    font-size:25px;
    font-weight:550px;
    padding:1.5rem;
    color:rgb(0, 0, 0);
}
.container2 {
    background-color:#f4e285;
    font-size:22px;
    font-weight:550;
    font-family: "Segoe UI", sans-serif;
    padding:1.5rem;
    
}