.container {
    background-color: pink;
    color: rgb(140, 63, 63);
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 8px;
    max-width: 720px;
}

.container a {
    color: rgb(131, 73, 155);
    text-decoration: none;
    display: inline-block;
    margin: 0.5rem 0;
}

.container a:hover {
    text-decoration: underline;
}