
.container {
    background: linear-gradient(135deg, #ecda9a, #ffe29f);
    color: rgb(76, 67, 67);
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    padding: 1.0rem;
    font-family: "Poppins", sans-serif;
}

.container a {
    color: rgb(35, 168, 168);
    text-decoration: none;
    display: inline-block;
    padding: 0.2rem 1rem;
    border-radius: 8px;
    margin:0.5 rem 2;
    box-shadow: 0 0 12px rgba(255, 200, 0, 0.5);
    
    
}

.container a:hover {
    text-decoration: underline;
}

.img {
    margin-top: 1.0rem;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #ffefb3;
    color: rgb(76, 67, 67);
    font-family: "Poppins", sans-serif;
    box-shadow: 0 -7px 12px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 0.5px 
}

.heading {
    margin-bottom: 50px;
    border-radius: 12px;
    box-shadow: 0 4px 0.5px rgba(0, 0, 0, 0.2);
}
