.container {
    background: linear-gradient(135deg, #ffefb3, #ffe29f);
    color: rgb(76, 67, 67);
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    padding: 1.5rem;
    font-family: "Poppins", sans-serif;
    animation: fadeIn 0.9s ease-in-out;
}

.container a {
    color: rgb(35, 168, 168);
    text-decoration: none;
    display: inline-block;
    margin:0.5 rem 0;
    box-shadow: 0 0 12px rgba(255, 200, 0, 0.5);
    
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}

.container a:hover {
    text-decoration: underline;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #ffefb3;
    color: rgb(76, 67, 67);
    font-family: "Poppins", sans-serif;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}