.container {
    background-color: #f4e285;
    color: rgb(140, 63, 63);
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    padding: 1.5rem;
    font-family: "Segoe UI", sans-serif;
}

.container a {
    color: rgb(119, 74, 138);
    text-decoration: none;
    display: inline-block;
    margin:0.5 rem 0;
    
}

.container a:hover {
    text-decoration: underline;
}